.signup-title-container {
  text-align: center;
  color: steelblue;
  display: flex;
  justify-content: space-between;
}
.signup-otp-container {
  margin-top:20px;
}

.signup-username-container,.signup-password-container, .signup-confirm-password-container,
.signup-phone-container, .signup-email-container,.signup-captcha-container, signup-otp-container {
    margin-top:20px;
}

.signup-button-container, signup-otp-button-container {
    margin-top:10px;
    display: flex;
    justify-content: center;
}

.btn {
    width: 100% !important;
}

.signup-username, .signup-password, .signup-email, .signup-phone, .signup-confirm-password,.signup-captcha-container {
    width:100%;
}

.signup-submit-button, .signup-reset-button {
    margin:5px;
}

.signup-otp-submit-button {
  margin-top: 10px
}

:host /deep/ p-inputmask input{
  width: 100%;
}
