.product-list-container {
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.product-list-sidebar-container {
  padding: 15px;
  border: 1px solid lightgray;
  width: 30%;
  height: auto;
}

.product-list-sidebar-title-container {
  color: steelblue;
  text-align: center;
}
.product-list-main-container {
  height: auto;
  padding: 5px;
  width: 70%;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
}
.product-list {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid lightgray;
  margin:5px;
  text-decoration: none;
}
.product-list-main-filter-container {
  padding: 5px;
  display: flex;
  justify-content: flex-start;
}
.product-list-image-container, .product-list-image-container1{
  height: auto;
  padding: 3px;
  width: 30%;
  cursor: pointer;
  /* display: flex;
  justify-content: center; */
}
.product-list-img-container, .product-list-img-container1 {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.product-list-img-container img {
  height: 200px;
  width: 70%;
  margin: auto;
}
.product-list-img-container1 img {
  height: 250px;
  /* width: 100%; */
  margin: auto;
}
.product-list-content-container {
  height: auto;
  width: 70%;
  padding: 5px;
  cursor: pointer;
  color: lightgray;
}
.product-list-content-specification {
  width: 70%;
  padding: 5px;
  text-decoration: none;
}
.product-list-content {
  display: flex;
  justify-content: flex-start;
}
.product-list-content-price-specification {
  width: 30%;
  padding: 5px 0px;
}
.btn-product-list-filter {
  width: 20%;
  color: steelblue;
  background: none;
  border: none;
}

.btn-product-list-filter:active {
  color: steelblue;
}

:host /deep/  .ui-paginator .ui-paginator-pages .ui-paginator-page {
border-radius: 50% !important;
}

:host /deep/ .ui-paginator .ui-paginator-pages {
margin:0px 10px;
}
:host /deep/ .ui-paginator {
  border: none !important;
  background: none !important;
}
a{
  text-decoration: none;
}

h6{
  color: steelblue;
}
ul {
  color: black;
}
.product-list-compare-container {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 800px) {
  .product-list-img-container, .product-list-img-container1 {
    width: 100%;
  }
}
