.cart-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 70%;
  margin: 5px;
  padding: 2% 0%;
}
.cart-total-container {
  display: flex;
  justify-content: flex-start;
}

.cart-content-container {
  display: flex;
  justify-content: flex-start;
  border: 1px solid lightgrey;
  padding: 15px;
  width: 100%;
  margin: 10px;
}

.cart-image-container {
  display: flex;
  justify-content: center;
  width: 30%;
}

.cart-summary-container {
  width: 30%;
  border: 1px solid lightgrey;
  margin: 3% 0%;
  padding: 15px;
}

.cart-image-container img {
  height: 200px;
}

.cart-content {
  width: 70%;
}

h5 {
  color: steelblue;
}

ul li {
  padding: 10px;
}
.cart-content-button {
  display: flex;
  justify-content: space-around;
}

:host /deep/ .ui-dropdown {
  margin:5px;
}
.btn-remove {
  width: 30%;

}

.cart-button-container {
  margin: 10px ;
  padding: 15px;
  display: flex;
  justify-content: center;
  border: 1px solid lightgrey;
  width: 100%;
}

.btn-shop,
.btn-order {
  width: 30%;
  margin: 5px;
  border: none;
}

.btn-order {
  color: white;
  background: #d9377d;
  border: none;
}

.cart-summary {
  color: steelblue;
  text-align: center;
}

/* i {
  border: 1px solid steelblue;
  border-radius: 50%;
} */

/* :host /deep/ input[type="text"] {
  padding: 5px;
} */
