<div class="cart-total-container">
  <div class="cart-container">
    <div class="cart-content-container" *ngFor="let product of cartResponseObject; let index = index">
      <ng-container>
        <div class="cart-image-container">
          <a href="" routerLink="/productDescription/{{product.productName}}">
            <img src="{{product['imageLocation']['list']}}" alt="Image not available">
          </a>
        </div>
        <div class="cart-content">
          <h5> {{product.productName}}</h5>
          <ul>
            <li>Product Name - {{product.productName}}</li>
            <li>Product Price - {{product.productPrice | currency: 'INR'}}</li>
            <li>Product discount - {{product.productDiscount}}%</li>
          </ul>
          <div class="cart-content-button">
            <p-dropdown [options]="items" (onChange)="getSelectItem($event, product.productPrice, product.productDiscount)"
              placeholder="select an Item number"></p-dropdown>
            <button pButton class="ui-button-secondary btn-remove" label="Remove" (click)=deleteFromCart(product.productName)></button>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="cart-button-container">
      <button pButton type="button" class="ui-button-info btn-shop" label="Continue Shopping" routerLink="/home"></button>
      <button pButton type="button" class="ui-button-info btn-order" label="Place Order" routerLink="/users/placeOrder"></button>
    </div>
  </div>

  <div class="cart-summary-container">
    <div class="cart-summary">
      <h4>PRICE DETAILS</h4>
    </div>
    <hr>
    <div class="cart-summary1" *ngFor="let product of cartResponseObject; let index = index">
      <table class="table">
        <tr>
          <td>Price - Item ({{index+1}}) - {{product.productName}}</td>
          <td>{{product.productPrice | currency: 'INR'}}</td>
        </tr>
      </table>
    </div>
    <table class="table">
      <tr>
        <td>Discount Amount</td>
        <td *ngIf="!discountAmount">{{0 | currency: 'INR'}}</td>
        <td *ngIf="discountAmount">{{discountAmount | currency: 'INR'}} <i class="material-icons">arrow_drop_down</i></td>
      </tr>
      <tr>
        <td>Payable Amount</td>
        <td *ngIf="!totalAmount">{{0 | currency: 'INR'}}</td>
        <td *ngIf="totalAmount">{{totalAmount | currency: 'INR'}}</td>
      </tr>
    </table>
  </div>
</div>

<p-toast></p-toast>
