.product-description-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}

.product-description-content-container {
  width: 50%;
  color: black;
}
.product-description-image-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

:host /deep/ .ui-tabview .ui-tabview-panels .ui-tabview-panel {
  color: black;
}

.product-description-img {
  justify-content: center;
  display: flex;

}
.product-description-img img {
  height: 450px;
}

.description-content{
  margin: 20px 20px 20px 0px;
}

table {
  width: 100%;
}

h6 {
  color: steelblue;
  margin: 20px 20px 20px 0px ;
}

p{
  text-align: center;
}
.spec-general td{
  padding: 15px;
}

.spec-total td {
  padding: 10px;
}
.description-btn {
  background: orange;
    width: 40%;
    margin: auto;
    height: 60px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.desc-button {
  background:#fb641b;
  cursor: pointer;
}
.product-description-button-container {
  display: flex;
  justify-content: center;
  padding: 10px
}

.item {
  height: 100px;
  width: 10%;
  display: flex;
  justify-content: center;
  margin: 5px 5px;
}

.item:active {
  border: 1px solid steelblue;
}
.item img {
  height: 100px;
}

.item-container {
  display: flex;
  justify-content: center;
}
