
<div class="login-title-container">
    <h3 id="login-title">LOGIN</h3>
    <i class="far fa-window-close" (click)="goBack()"></i>
</div>


<form [formGroup]="loginForm">

    <div class="login-content">
          <div class="login-username-container">
              <span class="ui-float-label">
                  <input type="text" pInputText class="login-username" formControlName="email" (blur)="validateUsername()">
                  <label for="float-input">Email ID</label>
              </span>
          </div>
          <div class="login-password-container">
              <span class="ui-float-label">
                  <input  type="password" pInputText class="login-password" (blur)="validatePassword()" formControlName="password" pTooltip="Specification - minimum(6), maximum(16) and must contain one Upper case
                  letter, One lower case, One number and may contain special characters" tooltipPosition="right">
                  <label for="float-input">Password</label>
              </span>
          </div>
    </div>

    <div>
      <div class="login-submit-button-container">
          <button type="submit" class="btn btn-primary" (click)="getLogin()" [disabled]="loginForm.invalid">Login</button>
      </div>

      <div class="login-forgot-password-button-container">
          <button class="btn" (click)="openDialogForgotPassword()">Forgot Password?</button>
      </div>

      <div class="login-signup-button-container">
          <button class="btn login-signup-button" (click)="openDialogSignup()">SignUp</button>
      </div>
    </div>
</form>

<p-toast></p-toast>
