<!-- <p>
  place-order works!
</p> -->

<mat-horizontal-stepper [linear]=false #stepper>
  <mat-step [stepControl]="orderAddressForm" [editable]=true>
    <form [formGroup]="orderAddressForm">
      <ng-template matStepLabel>Address</ng-template>
      <div class="order-address">
        <div class="address-image-container">
          <img src="../../../assets/images/user/payment2.jpg">
        </div>
        <div class="order-address-container">
          <div class="order-address-title">
            <h3>Order Delivery Address</h3>
          </div>
          <div class="order-address-content">
            <span class="ui-float-label add-field">
              <input type="text" pInputText formControlName="name" (blur)="validateUsername()" pTooltip="Name contains alphabets">
              <label for="float-input">Name*</label>
            </span>

            <span class="ui-float-label add-field1">
              <p-inputMask mask="9999999999" (onBlur)="validatePhone()" slotChar="" formControlName="phone" pTooltip="Phone number must be required"></p-inputMask>
              <label for="float-input">Phone Number*</label>
            </span>

            <span class="ui-float-label add-field1">
              <p-inputMask mask="9999999999" slotChar="" formControlName="alternatePhone" pTooltip="Please provide valid phone number"></p-inputMask>
              <label for="float-input">Alternate phone</label>
            </span>

            <span class="ui-float-label add-field1">
              <p-inputMask mask="999999" (onBlur)="validateDeliveryPinCode()" slotChar="" formControlName="pinCode"
                pTooltip="Pin code must be required and it must contain 6 digit valid number"></p-inputMask>
              <label for="float-input">Pin Code*</label>
            </span>

            <span class="ui-float-label add-field1">
              <input type="text" pInputText (blur)="validateDeliveryLandMark()" formControlName="landMark" pTooltip="Land mark must be required">
              <label for="float-input">Land mark*</label>
            </span>

            <span class="ui-float-label add-field">
              <textarea [rows]="5" [cols]="50" (blur)="validateAddress()" formControlName="address" pInputTextarea
                autoResize="true"></textarea>
              <label for="float-input" class="address-field-float">Address*</label>
            </span>

            <!-- Dropdown -->
            <span class=" add-field2">
              <p-dropdown placeholder="Select state" formControlName="state" [options]="deliveryState" (onChange)="getSelectDeliveryState($event)"></p-dropdown>
            </span>

            <span class="add-field2">
              <p-dropdown placeholder="Select district" formControlName="district" [options]="deliveryDistrict"></p-dropdown>
            </span>

            <span class="add-field">
              <p-dropdown placeholder="Type of delivery" formControlName="type" [options]="deliveryType"></p-dropdown>
            </span>
          </div>
          <div class="order-address-button-container">
            <button class="btn btn-primary btn-address" matStepperNext value="Next" [disabled]="orderAddressForm.invalid">Next</button>
          </div>
        </div>


      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="orderForm" [editable]=true>
    <ng-template matStepLabel>Order Detail</ng-template>
    <div class="cart-total-container">
      <div class="cart-container">
        <div class="cart-content-container" *ngFor="let product of cartResponseObject; let index = index">
          <ng-container>
            <div class="cart-image-container">
              <img src="{{product['imageLocation']['list']}}" alt="Image not available">
            </div>
            <div class="cart-content">
              <h5> {{product.productName}}</h5>
              <ul>
                <li>Product Name - {{product.productName}}</li>
                <li>Product Price - {{product.productPrice | currency: 'INR'}}</li>
                <li>Product discount - {{product.productDiscount}}%</li>
              </ul>
              <div class="cart-content-button">
                <p-dropdown [options]="items" [(ngModel)]="selectedItems" placeholder="select an Item number"></p-dropdown>
                <ng-container *ngIf="!enableRemoveItem"> <button pButton class="ui-button-secondary btn-remove" label="Remove"
                    (click)="deleteFromCart(product.productName)"></button></ng-container>
              </div>
            </div>
          </ng-container>
        </div>
        <div class="cart-button-container">
          <button pButton type="button" class="ui-button-info btn-shop" matStepperPrevious label="Go back"></button>
          <button pButton type="button" class="ui-button-info btn-order" matStepperNext label="Place Order"></button>
        </div>
      </div>

      <div class="cart-summary-container">
        <div class="cart-summary">
          <h4>PRICE DETAILS</h4>
        </div>
        <hr>
        <div class="cart-summary1" *ngFor="let product of cartResponseObject; let index = index">
          <table class="table table-striped">
            <tr>
              <td>Price - Item ({{index+1}}) - {{product.productName}}</td>
              <td>{{product.productPrice | currency: 'INR'}}</td>
            </tr>
          </table>
        </div>
        <table class="table table-striped">
          <tr>
            <td>Total Amount</td>
            <td>{{34000 | currency: 'INR'}}</td>
          </tr>
        </table>
      </div>
    </div>

  </mat-step>

  <mat-step [stepControl]="paymentForm" [editable]=true>
    <form [formGroup]="paymentForm">
      <ng-template matStepLabel>Payment</ng-template>

      <div class="payment-container">

        <div class="payment-image-container">
          <img src="../../../assets/images/user/payment1.jpg">
        </div>
        <div class="payment-content-container">
          <h3>Payment Mode</h3>
          <hr>

          <p-accordion>
            <p-accordionTab header="Cash On Delivery" selected="true">
              <p-captcha siteKey="6LcOOHoUAAAAAEqQj1LNt721OtFLaldz3-pZbxea" (onResponse)="captchaResponse($event)"></p-captcha>
            </p-accordionTab>
            <p-accordionTab header="Debit cart">
              <span class="ui-float-label credit-card-field">
                <p-inputMask mask="9999-9999-9999-9999" slotChar="1" pTooltip="Please enter your credit card number"></p-inputMask>
                <label for="float-input">Debit card number</label>
              </span>

              <span class="ui-float-label credit-card-field">
                <p-inputMask mask="999" slotChar="1" pTooltip="CVV number"></p-inputMask>
                <label for="float-input">CVV</label>
              </span>
              <span class="card-expiry-field">
                  <p-dropdown placeholder="Select card expiry year" [options]="debitCardExpiryYear"  ></p-dropdown>
                  <p-dropdown placeholder="Select card expiry month" [options]="debitCardExpiryMonth" ></p-dropdown>
              </span>

            </p-accordionTab>
          </p-accordion>

          <!-- <p-radioButton name="group2" value="debitCard" label="Debit Card" [(ngModel)]="val2" inputId="preopt1"></p-radioButton>
          <p-radioButton name="group2" value="cashOnDelivery" label="Cash on delivery" [(ngModel)]="val2" inputId="preopt1"></p-radioButton> -->

          <!-- <span class="ui-float-label credit-card-field">
            <p-inputMask mask="9999-9999-9999-9999" slotChar="1" pTooltip="Please enter your credit card number"></p-inputMask>
            <label for="float-input">Credit card number</label>
          </span>
          <p-captcha siteKey="6LcOOHoUAAAAAEqQj1LNt721OtFLaldz3-pZbxea" (onResponse)="captchaResponse($event)"></p-captcha> -->
          <!-- <p-captcha siteKey="6LcOOHoUAAAAAEqQj1LNt721OtFLaldz3-pZbxea" (onResponse)="captchaResponse($event)" -->
          <!-- initCallback="loadCaptcha"></p-captcha> -->
          <div class="payment-button-container">
            <button pButton type="button" matStepperPrevious class="ui-button-info btn-shop" label="Go Back"></button>
            <button pButton type="button" matStepperNext class="ui-button-info btn-order" label="Order" (click)="orderResponse()"
              routerLink="/home"></button>
          </div>

        </div>
      </div>

    </form>
  </mat-step>

</mat-horizontal-stepper>

<p-toast></p-toast>
