<!-- <p>
  place-order works!
</p> -->

<mat-horizontal-stepper [linear]=false #stepper>
  <mat-step [stepControl]="orderAddressForm" [editable]=true>
    <form [formGroup]="orderAddressForm">
      <ng-template matStepLabel>Address</ng-template>
      <div class="order-address">
        <div class="address-image-container">
          <img src="../../../assets/images/user/payment2.jpg">
        </div>
        <div class="order-address-container">
          <h3>Order Delivery Address</h3>
          <hr>
          <span class="ui-float-label add-field">
            <input type="text" pInputText class="" formControlName="name" pTooltip="Name contains alphabets">
            <label for="float-input">Name</label>
          </span>

          <span class="ui-float-label add-field">
            <p-inputMask mask="9999999999" slotChar="" formControlName="phone" pTooltip="Phone number must be required"></p-inputMask>
            <label for="float-input">Phone Number</label>
          </span>

          <span class="ui-float-label add-field">
            <p-inputMask mask="999999" slotChar="" formControlName="pinCode" pTooltip="Pin code must be required and it must contain 6 digit valid number"></p-inputMask>
            <label for="float-input">Pin Code</label>
          </span>

          <span class="ui-float-label add-field">
            <input type="text" pInputText class="" formControlName="landMark" pTooltip="Land mark must be required">
            <label for="float-input">Land mark</label>
          </span>

          <span class="ui-float-label add-field">
            <textarea [rows]="5" [cols]="50" pInputTextarea autoResize="true"></textarea>
            <label for="float-input " class="address-field-float">Address</label>
          </span>

          <span class="ui-float-label add-field">
            <input type="text" pInputText class="" formControlName="district" pTooltip="District must be required and it must contain alphabets">
            <label for="float-input">District</label>
          </span>

          <!-- Dropdown -->
          <span class="ui-float-label add-field">
            <input type="text" pInputText class="" formControlName="state" pTooltip="Please provide valid state name">
            <label for="float-input">State</label>
          </span>

          <span class="ui-float-label add-field">
            <p-inputMask mask="9999999999" slotChar="" formControlName="alternatePhone" pTooltip="Please provide valid phone number"></p-inputMask>
            <label for="float-input">Alternate phone(Optional)</label>
          </span>
          <div class="">
            <button class="btn btn-primary btn-address" matStepperNext value="Next">Next</button>
          </div>
        </div>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="orderForm" [editable]=true>
    <ng-template matStepLabel>Order Detail</ng-template>
    <div class="cart-total-container">
        <div class="cart-container" >
          <div class="cart-content-container" *ngFor="let product of cartResponseObject; let index = index">
            <ng-container >
              <div class="cart-image-container">
                <img src="{{product['imageLocation']['list']}}" alt="Image not available">
              </div>
              <div class="cart-content">
                <h3> {{product.productName}}</h3>
                <ul>
                  <li>Product Name - {{product.productName}}</li>
                  <li>Product Price - {{product.productPrice | currency: 'INR'}}</li>
                  <li>Product discount - {{product.productDiscount}}%</li>
                </ul>
                <div class="cart-content-button">
                    <p-dropdown [options]="items" [(ngModel)]="selectedItems" placeholder="select an Item number"></p-dropdown>
                    <button pButton class="ui-button-secondary btn-remove" label="Remove"></button>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="cart-button-container">
              <button pButton type="button" class="ui-button-info btn-shop" matStepperPrevious label="Go back" ></button>
              <button pButton type="button" class="ui-button-info btn-order" matStepperNext label="Place Order" ></button>
            </div>
        </div>

        <div class="cart-summary-container">
            <div class="cart-summary">
              <h4>PRICE DETAILS</h4>
            </div>
            <hr>
            <div class="cart-summary1" *ngFor="let product of cartResponseObject; let index = index">
              <table class="table table-striped">
                <tr>
                  <td>Price - Item ({{index+1}}) - {{product.productName}}</td>
                  <td>{{product.productPrice | currency: 'INR'}}</td>
                </tr>
              </table>
            </div>
            <table class="table table-striped">
                <tr>
                    <td>Total Amount</td>
                    <td>{{34000 | currency: 'INR'}}</td>
                  </tr>
            </table>
        </div>
      </div>

  </mat-step>

  <mat-step [stepControl]="paymentForm" [editable]=true>
    <form [formGroup]="paymentForm">
      <ng-template matStepLabel>Payment</ng-template>

      <div class="payment-container">

        <div class="payment-image-container">
          <img src="../../../assets/images/user/payment1.jpg">
        </div>
        <div class="payment-content-container">
          <h3>Payment Option</h3>
          <hr>
          <span class="ui-float-label credit-card-field">
            <p-inputMask mask="9999-9999-9999-9999" slotChar="1" pTooltip="Please enter your credit card number"></p-inputMask>
            <label for="float-input">Credit card number</label>
          </span>
          <!-- <p-captcha siteKey="6Lelan4UAAAAANe7YBWLXgxc6AIWctdG2mgKIuPZ" (onResponse)="captchaResponse($event)"
            initCallback="loadCaptcha"></p-captcha> -->
            <div class="payment-button-container">
                <button pButton type="button" matStepperPrevious class="ui-button-info btn-shop" label="Go Back" ></button>
                <button pButton type="button" matStepperNext class="ui-button-info btn-order" label="Order" (click)="orderResponse()" routerLink="/home"></button>
            </div>

        </div>
      </div>

    </form>
  </mat-step>

</mat-horizontal-stepper>
