.add-field {
  margin: 20px 5px 5px 5px;
  width: 100%;
}

.add-field1 {
  margin: 20px 5px 5px 5px;
  width: 48%;
}
.add-field2 {
  margin:5px;
  width: 48%;
}

.order-address {
  display: flex;
}

.address-image-container {
  width: 50%;
}

.address-image-container img {
  height: 350px;
}

.cart-container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
}

.order-address-container {
  width: 40%;
  margin-left: 5%;
  border: 1px solid lightgrey;
  padding: 10px;
}

.order-address-button-container {
  padding: 5px;
}

.order-address-content {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.order-address-container h3 {
  text-align: center;
  color: steelblue;
}

.order-address-title {
  padding: 5px;
  border-bottom: 1px solid lightgray;
}


.state-field {
  width: 100% !important;
}
:host /deep/ .ui-inputtext,
pinputmask {
  width: 100%;
}

:host /deep/ .ui-dropdown {
  width: 100% !important;
}

.phone-container {
  padding: 5px;
  display: flex;
}

.btn-address {
  margin-top: 10px !important;
  width: 100% !important;
}

:host /deep/ .address-field {
  height: 100px;
}

:host /deep/ .address-field-float {
  top: 20%;
}

.payment-container {
  /* width: 30%; */
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.payment-image-container {
  width: 60%;
  display: flex;
  justify-content: center;
}

.payment-image-container img {
  height: 450px;
}

.payment-content-container {
  width: 40%;
  padding: 20px;
  color: steelblue;
  border: 1px solid lightgrey;
}

.payment-content-container h3 {
  text-align: center;
}

.payment-button-container {
  display: flex;
  justify-content: center;
}

.btn-shop,
.btn-order {
  width: 40%;
  margin: 5px;
  padding: 5px;
}

.credit-card-field {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* Cart details */
.cart-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  width: 70%;
  margin: 5px;
  padding: 2% 0%;
}
.cart-total-container {
  display: flex;
  justify-content: flex-start;
}

.cart-content-container {
  display: flex;
  justify-content: flex-start;
  border: 1px solid lightgrey;
  padding: 15px;
  width: 100%;
  margin: 10px;
}

.cart-image-container {
  display: flex;
  justify-content: center;
  width: 30%;
}

.cart-summary-container {
  width: 30%;
  border: 1px solid lightgrey;
  margin: 3% 0%;
  padding: 15px;
}

.cart-image-container img {
  height: 200px;
}

.cart-content {
  width: 70%;
}

h5 {
  color: steelblue;
}

ul li {
  padding: 10px;
}
.cart-content-button {
  display: flex;
  justify-content: space-around;
}

:host /deep/ .ui-dropdown {
  margin: 5px;
}

.btn-remove {
  width: 30%;
}

.cart-button-container {
  margin: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  border: 1px solid lightgrey;
  width: 100%;
}

.btn-shop,
.btn-order {
  width: 40%;
  margin: 5px;
  border: none;
}

.btn-order {
  color: white;
  background: #d9377d;
  border: none;
}

.cart-summary {
  color: steelblue;
  text-align: center;
}
