<div class="forgot-password-container">
    <div class="fp-title-container">
      <h4>Forgot Password</h4>
      <i class="far fa-window-close" (click)="goBack()"></i>
    </div>
<hr>
    <mat-vertical-stepper [linear]=true #stepper>
      <mat-step [stepControl]="fpForm" [editable]=false >
        <form [formGroup]="fpForm">
          <ng-template matStepLabel>Email ID</ng-template>
                <div class="fp-email-container">
                      <span class="ui-float-label">
                          <input type="email" (blur)="validateEmail()" pInputText class="fp-email" formControlName="email" pTooltip="Email format - xxxx@xx.xx (or) xxxx@xxxx.xxx ">
                          <label for="float-input">Email ID</label>
                      </span>
                </div>
                <div class="fp-button-container">
                  <button class="btn btn-primary btn-fp" (click)="sendOTP()" [disabled]="fpForm.invalid" matStepperNext>Send OTP</button>
                </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fpOTPForm"  [editable]=false>
        <form [formGroup]="fpOTPForm">
          <ng-template matStepLabel>OTP</ng-template>
          <span class="ui-float-label fp-container">
              <p-inputMask  mask="9999" slotChar="" (blur)="validateOTP()" formControlName="otp" pTooltip="Please provide your received One time password(OTP)"></p-inputMask>
              <label for="float-input">Your received OTP</label>
          </span>
          <div class="fpOTP-button-container">
            <button matStepperNext class="btn btn-primary btn-fpOTP" value="Verify OTP" [disabled]="fpOTPForm.invalid" (click)="verifyOTP()">Verify OTP</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fpPasswordForm"  [editable]=false>
        <form [formGroup]="fpPasswordForm">
          <ng-template matStepLabel>Password</ng-template>
          <span class="ui-float-label fp-container">
              <input type="password" pInputText (blur)="validatePassword()" pTooltip="Specification - minimum(6), maximum(16) and must contain one Upper case
              letter, One lower case, One number and may contain special characters" tooltipPosition="right" formControlName="password">
              <label for="float-input">Set Password</label>
          </span>
          <span class="ui-float-label fp-container">
              <input type="password" pInputText (blur)="validateConfirmPassword()" pTooltip="Confirm password should match the above password"  tooltipPosition="right" formControlName="confirmPassword">
              <label for="float-input">Confirm Password</label>
          </span>
          <div class="fpPassword-button-container">
            <input type="submit" matStepperNext class="btn btn-primary btn-fpPassword" value="Reset Password" [disabled]="fpPasswordForm.invalid" (click)="changePassword()">
          </div>
        </form>
      </mat-step>

    </mat-vertical-stepper>
</div>
<p-toast></p-toast>















<!-- <form [formGroup]="fpForm">
    <div class="fp-content-container">
      <div class="fp-phone-container">
          <span class="ui-float-label">
              <p-inputMask  formControlName="phone" mask="9999999999" slotChar=" " pTooltip="Please enter your registered mobile number"></p-inputMask>
              <label for="float-input">Mobile number</label>
          </span>
      </div>
    </div>

    <div class="fp-button-container">
      <input type="submit" class="btn btn-primary" value="Send OTP" (click)="sendOTP()" [disabled]="fpForm.invalid">
    </div>
</form>


    <div class="fp-otp-container">
      <span class="ui-float-label">
          <p-inputMask  mask="9-9-9-9" slotChar=" " pTooltip="Please provide your received One time password(OTP)" [disabled]="fpForm.invalid"></p-inputMask>
          <label for="float-input">Your received OTP</label>
      </span>
    </div>
    <div class="fp-password-container">
      <span class="ui-float-label">
          <input type="password" pInputText  pTooltip="Password should contain minimum of 6 digit" tooltipPosition="right" [disabled]="fpForm.invalid">
          <label for="float-input">Set Password</label>
      </span>
    </div>

    <div class="fp-button-container">
      <input type="submit" class="btn btn-primary" value="Reset Password" (click)="resetPassword()" [disabled]="fpForm.invalid">
    </div> -->
