.fp-title-container {
  text-align: center;
  color: steelblue;
  display: flex;
  justify-content: space-between;
}

.fp-container{
  margin-top: 20px;
}

.fp-phone {
  width: 100%;
}
.fp-email-container {
margin-top: 20px;
}

.fp-button-container, .fpOTP-button-container, .fpPassword-button-container{
  padding-top: 10px;
}

.btn-fpOTP, .btn-fp {
  width: 80% !important;
}

.btn-fpPassword {
  width: 80% !important;
}


mat-vertical-stepper {
  padding-top:10px;
}

:host /deep/ .ui-inputtext {
  width: 80%;
}
