<div class="product-comparison-container">
  <div class="product-compare-container">
    <div class="compare-image-container">
      <h1 >Compare</h1>
    </div>
    <div class="compare-content-container">
        <h6><u>General</u></h6>
        <h6>Product Price</h6>
        <h6>product Name</h6>
        <h6>Product Type</h6>
        <h6>Color</h6>
        <h6>Discount</h6>
        <h6>Stock</h6>

        <h6><u>Features</u></h6>
        <h6>Model number</h6>
        <h6>Model Name</h6>
        <h6>SIM Type</h6>
        <h6>Touchscreen</h6>
        <h6>Hybrid SIM Slot</h6>

        <h6><u>Display</u></h6>
        <h6>Size</h6>
        <h6>Resolution</h6>
        <h6>Resolution Features</h6>
        <h6>Type</h6>
        <h6>Others</h6>

        <h6><u>System</u></h6>
        <h6>OS</h6>
        <h6>Processor</h6>
        <h6>Processor core</h6>
        <h6>RAM</h6>
        <h6>ROM</h6>
        <h6>Battery </h6>
        <h6>Expandable storage</h6>
        <h6>Supported memory</h6>
        <h6>Memory card slot</h6>

        <h6><u>Camera</u></h6>
        <h6>Primary</h6>
        <h6>Secondary</h6>
        <h6>SIM size</h6>
        <h6>Removable battery</h6>
        <h6>Graphics PPI</h6>
        <h6>Others</h6>
    </div>
  </div>

  <div class="product-container1">
    <div class="product-image-container1">

      <img src="../../../assets/images/phone/POCO-F1-BLUE/poco-f1-blue-list.jpeg">

    </div>
    <div class="product-content-container1">
        <h6><u>General</u></h6>
        <h6>{{totalProduct[2].productPrice | currency: 'INR'}}</h6>
        <h6>{{totalProduct[2].productName}}</h6>
        <h6>{{totalProduct[2].productType}}</h6>
        <h6>{{totalProduct[2].productColor}}</h6>
        <h6>{{totalProduct[2].productDiscount}}</h6>
        <h6>{{totalProduct[2].stock}}</h6>

        <h6><u>Features</u></h6>
        <h6>{{totalProduct[2]['specification'].modelNo}}</h6>
        <h6>{{totalProduct[2]['specification'].modelName}}</h6>
        <h6>{{totalProduct[2]['specification'].SIMType}}</h6>
        <h6>{{totalProduct[2]['specification'].touchscreen}}</h6>
        <h6>{{totalProduct[2]['specification'].hybridSIMSlot}}</h6>

        <h6><u>Display</u></h6>
        <h6>{{totalProduct[2]['specification'].displaySize}}</h6>
        <h6>{{totalProduct[2]['specification'].displayResolution}}</h6>
        <h6>{{totalProduct[2]['specification'].displayResolutionType}}</h6>
        <h6>{{totalProduct[2]['specification'].displayType}}</h6>
        <h6>{{totalProduct[2]['specification'].displayOther}}</h6>

        <h6><u>System</u></h6>
        <h6>{{totalProduct[2]['specification'].os}}</h6>
        <h6>{{totalProduct[2]['specification'].processor}}</h6>
        <h6>{{totalProduct[2]['specification'].processorCore}}</h6>
        <h6>{{totalProduct[2]['specification'].RAM}}</h6>
        <h6>{{totalProduct[2]['specification'].ROM}}</h6>
        <h6>{{totalProduct[2]['specification'].batteryCapacity}} </h6>
        <h6>{{totalProduct[2]['specification'].expandableStorage}}</h6>
        <h6>{{totalProduct[2]['specification'].supportedCard}}</h6>
        <h6>{{totalProduct[2]['specification'].memoryCardSlotType}}</h6>

        <h6><u>Camera</u></h6>
        <h6>{{totalProduct[2]['specification'].primaryCamera}}</h6>
        <h6>{{totalProduct[2]['specification'].secondaryCamera}}</h6>
        <h6>{{totalProduct[2]['specification'].secondaryCameraFeatures}}</h6>
        <h6>{{totalProduct[2]['specification'].removableBattery}}</h6>
        <h6>{{totalProduct[2]['specification'].graphicsPPI}}</h6>
        <h6>{{totalProduct[2]['specification'].sensors}}</h6>
    </div>
  </div>

  <div class="product-container2">
      <div class="product-image-container2">
          <img src="../../../assets/images/phone/REALME-2/realme-2-blue-list.jpeg">
      </div>
      <div class="product-content-container2">
          <h6><u>General</u></h6>
          <h6>{{totalProduct[3].productPrice | currency: 'INR'}}</h6>
          <h6>{{totalProduct[3].productName}}</h6>
          <h6>{{totalProduct[3].productType}}</h6>
          <h6>{{totalProduct[3].productColor}}</h6>
          <h6>{{totalProduct[3].productDiscount}}</h6>
          <h6>{{totalProduct[3].stock}}</h6>

          <h6><u>Features</u></h6>
          <h6>{{totalProduct[3]['specification'].modelNo}}</h6>
          <h6>{{totalProduct[3]['specification'].modelName}}</h6>
          <h6>{{totalProduct[3]['specification'].SIMType}}</h6>
          <h6>{{totalProduct[3]['specification'].touchscreen}}</h6>
          <h6>{{totalProduct[3]['specification'].hybridSIMSlot}}</h6>

          <h6><u>Display</u></h6>
          <h6>{{totalProduct[3]['specification'].displaySize}}</h6>
          <h6>{{totalProduct[3]['specification'].displayResolution}}</h6>
          <h6>{{totalProduct[3]['specification'].displayResolutionType}}</h6>
          <h6>{{totalProduct[3]['specification'].displayType}}</h6>
          <h6>{{totalProduct[3]['specification'].displayOther}}</h6>

          <h6><u>System</u></h6>
          <h6>{{totalProduct[3]['specification'].os}}</h6>
          <h6>{{totalProduct[3]['specification'].processor}}</h6>
          <h6>{{totalProduct[3]['specification'].processorCore}}</h6>
          <h6>{{totalProduct[3]['specification'].RAM}}</h6>
          <h6>{{totalProduct[3]['specification'].ROM}}</h6>
          <h6>{{totalProduct[3]['specification'].batteryCapacity}} </h6>
          <h6>{{totalProduct[3]['specification'].expandableStorage}}</h6>
          <h6>{{totalProduct[3]['specification'].supportedCard}}</h6>
          <h6>{{totalProduct[3]['specification'].memoryCardSlotType}}</h6>

          <h6><u>Camera</u></h6>
          <h6>{{totalProduct[3]['specification'].primaryCamera}}</h6>
          <h6>{{totalProduct[3]['specification'].secondaryCamera}}</h6>
          <h6>{{totalProduct[3]['specification'].secondaryCameraFeatures}}</h6>
          <h6>{{totalProduct[3]['specification'].removableBattery}}</h6>
          <h6>{{totalProduct[3]['specification'].graphicsPPI}}</h6>
          <h6>{{totalProduct[3]['specification'].sensors}}</h6>
          </div>
  </div>
</div>
