
<div class="home-container">
  <!-- Normal carousel -->
<owl-carousel  #owlElement1 [options]="{items: 1, dots: true, navigation: true, autoplay: true, loop: true, autoplayTimeout: 5000, center:true, autoplayHoverPause: true}" [items]="images" [carouselClasses]="['owl-theme', 'owl-carousel', 'owl-home']">
    <div class="item" *ngFor="let item of images;let i = index">
        <div><img src="{{item}}"></div>
    </div>
</owl-carousel>


<!-- Phone carousel -->
<div class="owl-phone-container" >
  <div class="owl-phone-title-container">
    <h3>Mobile phones</h3>
    <button pButton type="button" label="View all" class="ui-button-rounded" routerLink='/productList/mobile'></button>
  </div>
  <owl-carousel  #owlElement [options]="{items: 4, responsive: {'0': {items: 2},'430':{items:2},'600': {items: 3}, '1000': {items: 4}}, responsiveClass: true,
  dots: false, navigation: false, loop: true, autoplay:true, autoplayTimeout:4000, autoplayHoverPause: true}" [items]="totalProductDetails" [carouselClasses]="['owl-theme', 'owl-carousel', 'owl-phone']">
      <div class="item" *ngFor="let product of totalProductDetails | mobileType;let i = index">
          <div class="item1">
            <div class="phone-product-image-container" (click)="productSelection(product.productName)">
                <img src="{{product.imageLocation.list}}" >
            </div>
            <div class="phone-product-title-container">
                <h6>{{product.productName}}</h6>
                <h5>{{product.productPrice | currency : 'INR'}}</h5>
            </div>

          </div>
      </div>
  </owl-carousel>
</div>

<!-- Watch carousel -->
<div class="owl-watch-container" >
  <div class="owl-watch-title-container">
    <h3>Watches</h3>
    <button pButton type="button" label="View all" class="ui-button-rounded" routerLink='/productList/Watches'></button>
  </div>
  <owl-carousel  #owlElement2 [options]="{items: 4, responsive: {'0': {items: 2},'430':{items:2},'600': {items: 3}, '1000': {items: 4}}, responsiveClass: true,
     dots: false, navigation: false, loop: true, autoplay:true, autoplayTimeout:7000, autoplayHoverPause: true}" [items]="totalProductDetails" [carouselClasses]="['owl-theme', 'owl-carousel', 'owl-watch']">
      <div class="item" *ngFor="let product of totalProductDetails | watchType;let i = index">
          <div class="item2">
            <div class="watch-product-image-container" (click)="productSelection(product.productName)">
                <img src="{{product.imageLocation.list}}" >
            </div>
            <div class="watch-product-title-container">
                <h6>{{product.productName}}</h6>
                <h5>{{product.productPrice | currency : 'INR'}}</h5>
            </div>

          </div>
      </div>
  </owl-carousel>

</div>
</div>


<!-- <router-outlet></router-outlet> -->
